.card.col-md-7 {
	background-color: #e0e0e0;
	padding: 3%;
	margin: 1%;
}

.pull-right {
	width: 25%;
}

.form-control {
	margin: 2%;
	width: 100%;
	margin-left: 10px;
}

.form-group {
	display: inline-flex;
	width: 100%;
}